@import "../util/px-to-rem";
@import "../mixins/breakpoints";

.collection-tabs {
  margin-top: toRem(48px);
  margin-bottom: toRem(32px);

  .collection-hero {
    margin-bottom: toRem(48px);
  }

  &__nav {
    display: none;
    
    @include media-breakpoint-up(md) {
      display: flex;
      gap: toRem(32px);
    }
  }

  &__tab {
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    color: rgba(var(--color-foreground), 0.75);
    cursor: pointer;
    font-size: toRem(20px);
    margin-bottom: -1px;
    padding: toRem(16px) 0;
    text-align: center;
    text-transform: uppercase;
    transition: all var(--duration-default) ease;

    &:hover,
    &.is-active {
      border-bottom-color: rgba(var(--color-foreground), 1);
      color: rgb(var(--color-foreground));
    }
  }

  &__select {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    display: block;
    
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__select-input {
    appearance: none;
    background-color: transparent;
    border: 1px solid rgba(var(--color-foreground), 0.15);
    border-radius: 0;
    color: rgb(var(--color-foreground));
    cursor: pointer;
    font-size: toRem(16px);
    line-height: 1.5;
    margin: 0;
    min-height: toRem(45px);
    min-width: calc(100% - toRem(64px));
    padding: 0 toRem(24px);
    width: 100%;
  }

  .collection-hero {
    &__inner {
      padding: 0;
      margin-top: toRem(32px);
      margin-bottom: toRem(32px);
    }

    &__title {
      margin: 0;
      font-size: calc(var(--font-heading-scale) * 2.4rem);
      text-transform: uppercase;
      
      @include media-breakpoint-up(md) {
        font-size: calc(var(--font-heading-scale) * 3rem);
      }
    }

    &__description {
      margin: toRem(24px) 0 0;
      font-size: toRem(16px);
      line-height: 1.5;
    }
  }
}
