.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--duration-default) ease;
}
.modal[open] {
  opacity: 1;
  visibility: visible;
}
.modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(var(--color-foreground), 0.4);
  opacity: 0;
  transition: opacity var(--duration-default) ease;
}
.modal[open]::before {
  opacity: 1;
}
.modal__content {
  position: relative;
  background: rgb(var(--color-background));
  width: 100%;
  max-width: 90rem;
  max-height: 90vh;
  margin: 2rem;
  border-radius: var(--popup-corner-radius);
  overflow-y: auto;
  transform: translateY(2rem);
  transition: transform var(--duration-default) ease;
}
.modal[open] .modal__content {
  transform: translateY(0);
}
.modal__close-button {
  position: absolute;
  right: 2rem;
  top: 2rem;
  padding: 1rem;
  margin: -1rem;
  color: rgba(var(--color-foreground), 0.75);
}
.modal__close-button:hover {
  color: rgb(var(--color-foreground));
}
.modal__close-button svg {
  width: 1.6rem;
  height: 1.6rem;
}
.modal__content-info {
  padding-top: 3rem;
  height: 100%;
  overflow: auto;
}
@media screen and (max-width: 749px) {
  .modal__content-info {
    padding-top: 2rem;
  }
}
